<!DOCTYPE html>
html(lang="ru-RU" manifest="site.cache")
	include pug/header
	body
		include pug/_mixins
		include pug/main
		include pug/second
		include pug/testimonials
		include pug/about
		include pug/certs
		include pug/contacts
		include pug/footer
		include pug/lightbox
		include pug/scripts