form(action="" method="POST")
					input(type="text" name="name" placeholder="Введите Ваше имя" required) 
					input(type="email" name="mail" placeholder="Введите Ваш e-mail" required) 
					input(type="text" name="skype" placeholder="Введите Ваш Skype" required) 
					button(type="submit" name="submit")(class="submit") Пройти консультацию
					span.antispam Мы не передаем Вашы контакты третьим лицам