form(action="form/mail.php" method="POST" name="MyForm")
					input(type="text" name="name" placeholder="Введите Ваше имя" required) 
					input(type="email" name="email" placeholder="Введите Ваш e-mail" required) 
					input(type="text" name="skype" placeholder="Введите Ваш Skype" required) 
					button(type="submit" name="submit")(class="submit") Пройти консультацию
					span.antispam Мы не передаем Вашы контакты третьим лицам