mixin link(href,name)
	a(href= href)&attributes(attributes)= name

mixin list_u(...items)
	ul&attributes(attributes)
		each item in items
			li= item

mixin list_o(...items)
	ol&attributes(attributes)
		each item in items
			li= item

mixin slides(imageName, altName, caption)
	.slider-item
		img(src= imageName alt= altName)
		p.caption= caption