+slides("img/certs/slide-1.jpg", "Slide 1", "Базовый курс ThetaHealing®")
+slides("img/certs/slide-2.jpg", "Slide 2", "Продвинутый курс ThetaHealing®")
+slides("img/certs/slide-3.jpg", "Slide 3", "Манифестация изобилия ThetaHealing®")
+slides("img/certs/slide-4.jpg", "Slide 4", "Психосемантическая терапия")
+slides("img/certs/slide-5.jpg", "Slide 5", "Работа с эго-состояниями")
+slides("img/certs/slide-6.jpg", "Slide 6", "Психотерапия самостоятельных единиц сознания")
+slides("img/certs/slide-7.jpg", "Slide 7", "Введение в благополучие")
+slides("img/certs/slide-8.jpg", "Slide 8", "Обретение подлинной личности")
+slides("img/certs/slide-9.jpg", "Slide 9", "Основы психокоррекции")
+slides("img/certs/slide-10.jpg", "Slide 10", "Психокоррекция самостоятельных единиц сознания")
+slides("img/certs/slide-11.jpg", "Slide 11", "Психотерапия человеческих отношений")
+slides("img/certs/slide-12.jpg", "Slide 12", "Модули управления реальностью")
+slides("img/certs/slide-13.jpg", "Slide 13", "Интеграция консалтинга")
+slides("img/certs/slide-14.jpg", "Slide 14", "Осуществление задуманного")
+slides("img/certs/slide-15.jpg", "Slide 15", "Кундалини Рейки")
+slides("img/certs/slide-16.jpg", "Slide 16", "Временные линии1")
+slides("img/certs/slide-17.jpg", "Slide 17", "Временные линии2")