// Сертификаты
section.certs
	.container
		h3 Мои сертификаты
		#example
			#slides
				.slides_container
					include _slides
				+link('#')(class="prev")
				+link('#')(class="next")
			img(src="img/example-frame.png" alt="Рамка" id="frame")
// Конец сертификатов