// Блок с контактами
section.fifth
	.container
		h3 Контакты
		.flex
			.contacts_col_left
				ul
					li #[i.fa.fa-vk(aria-hidden="true")] #[+link('https://vk.com/im?sel=-134054985', 'Чат во «Вконтакте»')(target="_blank")]
					li #[i.fa.fa-facebook(aria-hidden="true")] #[+link('https://www.facebook.com/messages/t/user:1553902068253095/', 'Чат в «FaceBook»')(target="_blank")]
					li #[i.fa.fa-map-marker(aria-hidden="true")] г.Москва, проезд Дежнева, 1, Бизнес-центр "Дежнев плаза"
			.contacts_col_mid
				.map
					script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=E-fifBHV6UFVL41U-_FB1pJYotXpevLY&amp;width=inherit&amp;height=450&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true")
			.contacts_col_right
				ul
					li #[span.bold #[.fa.fa-phone(aria-hidden="true")] Телефон:] 
						br/ 8-926-186-98-89
					li #[span.bold #[.fa.fa-clock-o(aria-hidden="true")] Время для обращений (тоько смс):] 
						br/ с 12 до 20ч
					li #[span.bold #[.fa.fa-calendar(aria-hidden="true")] Дни недели:] 
						br/ вторник\четверг\суббота
// Конец блока с контактами