// Подвал
footer.footer
	.container
		p Мила Турушева | #[+link('http://www.miilafon.ru', 'miilafon.ru')(target="_blank", title="Переходим на страничку?")] | 2017г.
		+link('politics.html', 'Политика конфиденциальности')(id="politics", target="_blank")
// Конец Подвала