// Четвертый экран по Милу
section.fourth
	.container
		figure
			img(src="/img/mila.jpg" alt="Милана Турушева")
			figcaption <span>Милана Турушева</span> – консультант вьювер, психолог, психотерапевт, практик тета-хилинга и временных линий. <br> Опыт работы с 2007 года.
// Конец Четвертого экран