// Четвертый экран по Милу
section.fourth
	.container
		figure
			img(src="img/mila.jpg" alt="Милана Турушева")
			figcaption <span id="mila">Милана Турушева</span> – практик временных линий, консультант вьювер, психолог, психотерапевт,  <br><span id="exp">Опыт работы с 2006 года</span>
// Конец Четвертого экран