
head
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	meta(name="author" content="Мила Турушева")
	meta(name="description" content="Вводная индивидуальная консультация без оплаты по прогнозированию и нахождению прибыльных стратегий для вашего дела")
	meta(name="keywords" content="деньги, бизнес, новый уровень в бизнесе, открыть своё дело, продать бизнес, открыть бизнес")
	title Прогнозирование и нахождение прибыльных стратегий для вашего дела
	link(rel="stylesheet", href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css")
	link(rel="stylesheet", href="/css/slyles.css")