// Главный экран
section.main
	header.header
		.container
			img(src="img/logo.png")
			ul
				li #[span.bold #[.fa.fa-phone(aria-hidden="true")] Телефон:] 8-926-186-98-89
				li #[span.bold #[.fa.fa-clock-o(aria-hidden="true")] Время для обращений (только смс):] с 12 до 20ч
				li #[span.bold #[.fa.fa-calendar(aria-hidden="true")] Дни недели:] вторник\четверг\суббота
			.clf
	.main_container
		hgroup
			h1 Прогнозирование и нахождение прибыльных стратегий для вашего дела
			h2 Вводная индивидуальная консультация без оплаты
		.left
			+list_u('Вы узнаете причины, которые мешают развитию вашего дела', 'Вы примите однозначное и точное решение  по актуальной для вас теме', 'Увидите\\услышите\\почувствуете (узнаете)')(class="for_main",)
		.right
			.right_container
				h4 Плюшка, чтоб охотней вводили контакты
				include _form
		.clf
// Конец главного экрана