// Стили и скрипты
link(rel="stylesheet", href="fonts/font-awesome-4.7.0/css/font-awesome.min.css")
link(rel="stylesheet", href="css/styles.css")
link(rel="stylesheet", href="css/media.css")
script(src="js/jquery-1.11.0.min.js")
script(src="js/jquery-migrate.min.js")
script(src="js/slick.min.js")
script(src="js/scripts.min.js")
// Метрика
include _metrics
// Метрика