// Второй экран
section.second
	.container
		.second_left
			h4 Если у вам необходимо:
			+list_u('узнать открывать ли отделение/новые направления/филиалы и т.д.','решить продавать или развивать дальше своё дело','сменить  и выбрать  новую сферу деятельности','выбрать вкладывать ли деньги в развитие текущего направления')
		.second_right
			h4 То на консультации Вы сможете:
			+list_o('Уточнить те моменты, которые пока вам не очевидны  и проясним их','Прийти к четкому, ясному пониманию и виденью своей ситуации','С помощью специальных  вопросов, которые подбираются индивидуально для вас, найти  нужные решения','Перестроится на новую волну, принять  эффективное решение и узнать какие шаги осуществить')
		.clf
		button.submit.l_box записаться
// Конец Второго экрана