// Второй экран
section.second
	.container
		.second_left
			h4 Если у вам необходимо:
			ul
				li узнать открывать ли отделение/новые направления/филиалы и т.д.
				li решить продавать или развивать дальше своё дело 
				li сменить  и выбрать  новую сферу деятельности 
				li выбрать вкладывать ли деньги в развитие текущего направления
		.second_right
			h4 То на консультации Вы сможете:
			ol
				li Уточнить те моменты, которые пока вам не очевидны  и проясним их
				li Прийти к четкому, ясному пониманию и виденью своей ситуации
				li С помощью специальных  вопросов, которые подбираются индивидуально для вас, найти  нужные решения
				li Перестроится на новую волну, принять  эффективное решение и узнать какие шаги осуществить
		.clf
		button.button записаться
// Конец Второго экрана