// Третий экран с отзывами
section.third
	.container
		h3 #[span#client Клиент]: Нелли Кулакова, владелица 5-ти бизнесов (склады, тренинг центр, учебный центр и т.д.)
		.three_col
			.col_left
				figure
					img(src="img/problems.jpg" alt="Было")
					h4 Что было:
					figcaption
						+list_o('проблемы с дополнительным открытым павильоном – приносил убытки; ','бизнес приносящий основной весомый доход оказался на распутье - продавать или развивать?')
			.col_mid
				figure
					img(src="img/become.jpg" alt="Стало")
					h4 Что стало:
					figcaption
						+list_o('принят ответ во время сессии и сделан выбор, который откликнулся владелице – продавать бизнес;', 'а так же предложение для будущего: что делать далее и какие шаги осуществлять', 'Бизнес в процессе продажи', 'Легкость и радость по информации о будущем')
			.col_right
				figure
					img(src="img/done.jpg" alt="Сделано")
					h4 Что сделано:
					figcaption
						+list_o('Выставила бизнес на продажу и испытала облегчение, благодаря выбору и принятому проверенному решению', 'Бизнес успешно продан после прохождения сессий')
			.clf
		img(src="img/testimonial_1.jpg" alt="Отзыв")
		button.submit.l_box записаться
// Конец Третьего экрана