// Третий экран с отзывами
section.third
	.container
		h3 Клиент: Нелли Кулакова, владелица 5-ти бизнесов (склады, тренинг центр, учебный центр и т.д.)
		.three_col
			.col_left
				h4 Что было:
				+list_u('проблемы с дополнительным открытым павильоном – приносил убытки; ','бизнес приносящий основной весомый доход оказался на распутье - продавать или развивать?')
			.col_mid
				h4 Что стало:
				+list_u('принят ответ во время сессии и сделан выбор, который откликнулся владелице – продавать бизнес;', 'а так же предложение для будущего: что делать далее и какие шаги осуществлять', 'Бизнес в процессе продажи', 'Легкость и радость по информации о будущем')
			.col_right
				h4 Что сделано:
				p Выставила бизнес на продажу и испытала облегчение, благодаря выбору и принятому проверенному решению 
			.clf
		img(src="/img/testimonial_1.jpg" alt="")
		button.button записаться
// Конец Третьего экрана