@media screen and (min-width: 1390px)
	.container
	.main_container
		max-width 960px
		
	
@media screen and (max-width: 1285px)
	
	.submit.l_box
		width 40%

@media screen and (max-width: 1235px)
	.submit
		font-size 14px

@media screen and (max-width: 1061px)
	.submit
		font-size 13px

@media screen and (max-width: 1025px)
	.container
		max-width 90%

	.main_container
		max-width 92.13%
		
	.submit::before
		left -515px

@media screen and (max-width: 845px)
	
	.three_col
		flex-wrap wrap
		
	.col_left
	.col_mid
		flex-grow .3
	.col_right
		flex-grow .1

@media screen and (max-width: 768px)
	.for_main li
		font-size 16px
		
	.for_main li:before
		width 25px
		height 25px
		
	.col_left li:before
	.col_mid li:before 
	.col_right li:before 
	.second_left li:before 
	.second_right li:before
		width 20px
		height 20px
		font-size 16px
		
	.fourth figure figcaption
		font-size 18px
		
		
	.submit::before
		left -375px

@media screen and (max-width: 760px)
	.left
	.right
		float none
		width 100%
	
	.left
		height auto
	
	.right_container
		width 60%
		margin 0 auto
		
@media screen and (max-width: 650px)
	.header .container img
		width 50%
		margin-top 30px
	
	.header .container ul 
		width 50%
		line-height 1.4
		
	.second
		margin-bottom 20px
		
	.flex
		flex-direction column
	
	.contacts_col_left
	.contacts_col_right
	.contacts_col_mid
		width 90%
		
	.contacts_col_mid
		order 1
		
	.three_col
		flex-direction column
		align-items center
	
	.col_left
	.col_mid
	.col_right
		width 57%
		flex-grow .2
	
	.submit.l_box
		width 60%
		
@media screen and (max-width: 480px)
	.second
		padding-top 0
	
	.right_container
		width 80%
	
	.second_left
	.second_right
		width 90%
		float none
		
	.second_left
		&:before
			content: '⤵'
			top: 228px
			left:50px
			font-size: 260px
			width: 100px
			height: 100px

	.submit.l_box
		width 90%
	
	.submit:before
		left -345px
		
	.col_left
	.col_mid
	.col_right
		width 75%
		flex-grow 1
		
@media screen and (max-width: 470px)
	.header .container img
	.header .container ul 
		float none
		margin 0 auto
		width 100%
		display block
		font-size 14px
		
	.header .container ul li
		text-align center

	h1
		font-size 26px
		
	h2
		font-size 22px
		

@media screen and (max-width: 400px)
	.right_container
		width 100%
	
	.fourth figure
		flex-direction column

@media screen and (max-width: 360px)
	h1
		font-size 22px

	h2
		font-size 18px
		
	.box
	.col_left
	.col_mid
	.col_right
		width 90%
		
	form input
		font-size 16px
		
@media screen and (max-width: 320px)
	h1
		word-wrap break-word
		