main_color = #EDEACE

@font-face
    font-family 'RobotoLight'
    src url(/fonts/Roboto/RobotoLight.eot)
    src url(/fonts/Roboto/RobotoLight.svg)
    src url(/fonts/Roboto/RobotoLight.ttf)
    src url(/fonts/Roboto/RobotoLight.woff)
    src url(/fonts/Roboto/RobotoLight.woff2)
@font-face 
    font-family 'SegoeBlack'
    src url(/fonts/SegoeBlack/SegoeBlack.eot)
    src url(/fonts/SegoeBlack/SegoeBlack.svg)
    src url(/fonts/SegoeBlack/SegoeBlack.ttf)
    src url(/fonts/SegoeBlack/SegoeBlack.woff)
    src url(/fonts/SegoeBlack/SegoeBlack.woff2)

html
body
div
span
iframe
h1
h2
h3
h4
h5
h6
p
a
em
img
ol
ul
li
form
label
figure
figcaption
footer
header
hgroup
section
    font inherit
    font-size 100%
    margin 0
    padding 0
    vertical-align baseline
    border 0
    box-sizing border-box

figcaption
figure
footer
header
section 
    display block


body 
    font-family 'RobotoLight', san-serif
    line-height 1
	-webkit-text-size-adjust none
    font-size 18px
    

*
*before
*after 
    box-sizing border-box
    margin 0
    padding 0


*before
*after 
    content ''

hgroup
h3
h4 
    font-family 'SegoeBlack', san-serif
    text-align center
     
.container
    max-width 960px
    min-width 280px
    margin 10px auto
    

.clf
    clear both

li
    list-style none

.second
.third
.fourth
    margin 40px 0
    padding 20px 0

.button
    display block
    margin 30px auto 20px
// Стили Main
.header
    background-color rgba(#000, .5)
    color #fff
    .container
        margin 0 auto
        padding 10px 0
        img
            float left
            max-height 59px
            max-width 195px
            margin 3px 0
        ul
            float right
            li
                text-align right
                padding 3px 0
.main
    background-image url('http://www.storania.com/wp-content/uploads/2015/09/business-plan.jpg')
    background-position top center
    background-attachment fixed
    background-size cover
    background-repeat no-repeat
    padding-bottom 30px
.bold 
    font-weight bold
    border-bottom 1px dashed
    
.main_container
    max-width 960px
    min-width 280px
    margin 30px auto 0
    border 1px solid #fff
    background-color rgba(255,255,255,.95)

h1
    font-size 30px
    padding 10px

h2
    font-size 24px
    margin 10px 10px 20px

.flex
    display flex
    align-items center
    justify-content center

.left_all
    width 50%
    float left
    padding 10px

.right_all 
    width 50%
    float right
    padding 10px

.left
    @extend .left_all
    @extend .flex
    flex-direction column
    height 262px
    width 60%

.for_main li
    margin 15px

.right
    @extend .right_all
    width 40%

.right_container
    border 10px dashed rgb(187,153,0)
    background-color rgba(245,200,0,1)
    padding 10px
    box-shadow 0 0 5px rgb(187,153,0)

h3
    font-size 22px
    margin 10px 0

h4
    font-size 18px
    margin 10px 10px 20px

form
    max-width 80%
    margin 10px auto
    @extend .flex
    flex-direction column
    input
        flex-direction column
        width: 100%;
        margin: 10px;
        height: 35px;
        border-style: solid;
        border-color: transparent;
        border-bottom: 2px solid brown;
        background-color: transparent;
        color: #fff;
        font-size: 18px;
        font-style: italic;
        &[type="submit"]
            background-color red

// Стили Second
.second_left
    @extend .left_all

.second_right
    @extend .right_all

// Стили Third
.third
    background-color rgba(main_color .35)
.three_col
    display flex
    justify-content center
    align-items start

.col_left
.col_mid
.col_right
    width 33%
    padding 10px

// Стили Fourth

figure
    @extend .flex
    flex-direction row
    
    img
        max-width 200px
        max-height 200px
        flex-direction column
        flex-grow 1
        border-radius 50%
    figcaption
        flex-grow 2
        padding 0 20px
        
// Стили Footer
footer
    text-align center
    background-color rgba(#000 .45)
    color #fff
    padding 10px 0
    .container
        margin 0 auto